<div class="community">
    <div class="community-2">
      <div class="text-wrapper">實驗室項目Demo</div>
      <p class="p">Who is Nextcent suitable for?</p>
    </div>
    <div class="frame">
      <div class="div-2">
        <div class="member">
          <div class="div-3">
            <div class="div-3">
              <div class="rectangle"></div>
              <img class="img" src="../static/imgs/index/icon-3.svg" />
            </div>
          </div>
          <div class="text-wrapper-2">AIM demo</div>
        </div>
        <div class="div-wrapper">
          <p class="text-wrapper-3">
            Our membership management software provides full automation of membership renewals and payments
          </p>
        </div>
      </div>
      <div class="div-2">
        <div class="member">
          <div class="div-3">
            <div class="div-3">
              <div class="rectangle"></div>
              <img class="img" src="../static/imgs/index/icon-3.svg" />
            </div>
          </div>
          <div class="text-wrapper-2">skin demo</div>
        </div>
        <div class="frame-2">
          <p class="text-wrapper-4">
            Our membership management software provides full automation of membership renewals and payments
          </p>
        </div>
      </div>
    </div>
  </div>