<section id="aboutus" class="works clearfix">
    <div class="container">
        <div class="row">


            <div class="sec-sub-title text-center">
                <p></p>
            </div>

            <div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
                <ul class="text-center">
                    <li><a href="javascript:;" data-filter="all" class="filter">全部</a></li>
                    <li><a href="javascript:;" data-filter=".Internalmeeting" class="filter">內部會議</a></li>
                    <li><a href="javascript:;" data-filter=".externalmeeting" class="filter">外部會議</a></li>
                    <li><a href="javascript:;" data-filter=".Visit" class="filter">參訪</a></li>
                    <li><a href="javascript:;" data-filter=".competition" class="filter">比賽</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="project-wrapper">

        <figure class="mix work-item Internalmeeting">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="陣列麥克風" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item Internalmeeting">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item Internalmeeting">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item Internalmeeting">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item externalmeeting">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item Visit">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item Visit">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

        <figure class="mix work-item competition">
            <img src="../static/imgs/index/image-19.png" alt="">
            <figcaption class="overlay">
                <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="../static/imgs/index/image-19.png"><i
                        class="fa fa-eye fa-lg"></i></a>
                <h4>請在此輸入描述此照片的標題</h4>
                <p>請在此輸入描述此照片的文字</p>
            </figcaption>
        </figure>

    </div>


</section>
<!--
    End Home SliderEnd
    ==================================== -->