{% load static %}
<div class="award-pic">
    <div class="sec-title text-center">
        <h2></h2>
        <div class="devider"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i></div>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slide-wrapper">
                <div class="my-slide">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic1">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic2">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic3">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic4">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic5">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic6">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic7">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic8">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic9">
                    <img src="../static/imgs/index/image-18.png" alt="award-pic10">
                </div>
            </div>
        </div>
    </div>
</div>