:root {
  --neutralwhite: rgba(255, 255, 255, 1);
  --neutralsilver: rgba(245, 247, 250, 1);
  --neutralgreyblue: rgba(171, 190, 209, 1);
  --neutrallgrey: rgba(137, 147, 158, 1);
  --neutralgrey: rgba(113, 113, 113, 1);
  --neutraldgrey: rgba(77, 77, 77, 1);
  --neutralblack: rgba(38, 50, 56, 1);
  --neutralwhite-stroke: rgba(171, 190, 209, 1);
  --brandinfo: rgba(33, 148, 243, 1);
  --brandsecondary: rgba(38, 50, 56, 1);
  --brandprimary: rgba(76, 175, 79, 1);
  --shades-1: rgba(67, 160, 70, 1);
  --shades-2: rgba(56, 142, 59, 1);
  --shades-3: rgba(35, 125, 49, 1);
  --shades-4: rgba(27, 94, 31, 1);
  --shades-5: rgba(16, 62, 19, 1);
  --tintt-1: rgba(102, 187, 105, 1);
  --tintt-2: rgba(129, 199, 132, 1);
  --tintt-3: rgba(165, 214, 167, 1);
  --tintt-4: rgba(200, 230, 201, 1);
  --tintt-5: rgba(232, 245, 233, 1);
  --actionsuccess: rgba(46, 125, 49, 1);
  --actionerror: rgba(229, 56, 53, 1);
  --actionwarning: rgba(251, 192, 45, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
  --default-white: rgba(255, 255, 255, 1);
  --text-gray-300: rgba(217, 219, 225, 1);
  --heading-headline-1-font-family: "Inter-SemiBold", Helvetica;
  --heading-headline-1-font-weight: 600;
  --heading-headline-1-font-size: 64px;
  --heading-headline-1-letter-spacing: 0px;
  --heading-headline-1-line-height: 76px;
  --heading-headline-1-font-style: normal;
  --heading-headline-2-font-family: "Inter-SemiBold", Helvetica;
  --heading-headline-2-font-weight: 600;
  --heading-headline-2-font-size: 36px;
  --heading-headline-2-letter-spacing: 0px;
  --heading-headline-2-line-height: 44px;
  --heading-headline-2-font-style: normal;
  --heading-headline-3-font-family: "Inter-Bold", Helvetica;
  --heading-headline-3-font-weight: 700;
  --heading-headline-3-font-size: 28px;
  --heading-headline-3-letter-spacing: 0px;
  --heading-headline-3-line-height: 36px;
  --heading-headline-3-font-style: normal;
  --heading-headline-4-font-family: "Inter-SemiBold", Helvetica;
  --heading-headline-4-font-weight: 600;
  --heading-headline-4-font-size: 20px;
  --heading-headline-4-letter-spacing: 0px;
  --heading-headline-4-line-height: 28px;
  --heading-headline-4-font-style: normal;
  --body-regular-body-1-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-1-font-weight: 400;
  --body-regular-body-1-font-size: 18px;
  --body-regular-body-1-letter-spacing: 0px;
  --body-regular-body-1-line-height: 28px;
  --body-regular-body-1-font-style: normal;
  --body-regular-body-2-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-2-font-weight: 400;
  --body-regular-body-2-font-size: 16px;
  --body-regular-body-2-letter-spacing: 0px;
  --body-regular-body-2-line-height: 24px;
  --body-regular-body-2-font-style: normal;
  --body-regular-body-3-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-3-font-weight: 400;
  --body-regular-body-3-font-size: 14px;
  --body-regular-body-3-letter-spacing: 0px;
  --body-regular-body-3-line-height: 20px;
  --body-regular-body-3-font-style: normal;
  --body-regular-body-4-font-family: "Inter-Regular", Helvetica;
  --body-regular-body-4-font-weight: 400;
  --body-regular-body-4-font-size: 12px;
  --body-regular-body-4-letter-spacing: 0px;
  --body-regular-body-4-line-height: 16px;
  --body-regular-body-4-font-style: normal;
  --body-medium-body-1-font-family: "Inter-Medium", Helvetica;
  --body-medium-body-1-font-weight: 500;
  --body-medium-body-1-font-size: 18px;
  --body-medium-body-1-letter-spacing: 0px;
  --body-medium-body-1-line-height: 28px;
  --body-medium-body-1-font-style: normal;
  --body-medium-body-2-font-family: "Inter-Medium", Helvetica;
  --body-medium-body-2-font-weight: 500;
  --body-medium-body-2-font-size: 16px;
  --body-medium-body-2-letter-spacing: 0px;
  --body-medium-body-2-line-height: 24px;
  --body-medium-body-2-font-style: normal;
  --body-medium-body-3-font-family: "Inter-Medium", Helvetica;
  --body-medium-body-3-font-weight: 500;
  --body-medium-body-3-font-size: 14px;
  --body-medium-body-3-letter-spacing: 0px;
  --body-medium-body-3-line-height: 20px;
  --body-medium-body-3-font-style: normal;
  --body-medium-body-4-font-family: "Inter-Medium", Helvetica;
  --body-medium-body-4-font-weight: 500;
  --body-medium-body-4-font-size: 12px;
  --body-medium-body-4-letter-spacing: 0px;
  --body-medium-body-4-line-height: 16px;
  --body-medium-body-4-font-style: normal;
  --shadow-2px: 0px 2px 4px 0px rgba(171, 190, 209, 0.6);
  --shadow-4px: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
  --shadow-6px: 0px 6px 12px 0px rgba(171, 190, 209, 0.3);
  --shadow-8px: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  --shadow-16px: 0px 16px 32px 0px rgba(171, 190, 209, 0.3);
}
